<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Cookie</title>
</head>
<body>

<script type="text/javascript" src="{{ path('chaplean_cookie_headband') }}"></script>
</body>
</html>